body {
    margin: 0;
    padding: 0;
    font-weight: bolder;
    font-family: 'Roboto Mono', monospace;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

header {
    padding-top: 1em;
    padding-bottom: 1em;
}

/* .countries {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
} */

.countries, .fruits {
    list-style-position: inside;
}

#usa {
    background-color: cornflowerblue;
    list-style-type: none;
}

#pan {
    background-color: darkseagreen;
    list-style: georgian;
}

#can {
    background-color: ghostwhite;
    list-style-type: circle;
}

ol {
    list-style-type: upper-alpha;
}